.logo_Container {
  width: 300px;
  /* border-bottom: 1px solid rgb(171, 167, 167); */
}

.nav_container {
  /* border: 1px solid rgb(171, 167, 167); */
  width: 300px;
  min-height: 100vh;
}

.nav_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
