.heading {
  padding: 10px;
}
.header_options {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
}
.usermanagement_searchOptions {
  display: flex;
  gap: 30px;
}

.action_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
